.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-rpg-icon {
  height: 60px;
  margin-top: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.logo-rpg-404-icon {
  height: 60px;
  margin-top: 30px;
  cursor: pointer;
}
