.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-rpg-icon {
  position: absolute;
  height: 60px;
  top: 30px;
  left: 0px;
  cursor: pointer;
  image-rendering: auto;
}

.logo-rpg-404-icon {
  position: absolute;
  height: 48px;
  top: 36px;
  left: 70px;
  cursor: not-allowed;
}
