.mint {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: blueviolet; */
}

.mint-market-bg {
  height: calc(100vh - 120px);
  margin-left: -100vw;
  margin-right: -100vw;
  cursor: pointer;
}
