.navbar {
  position: relative;
  height: 120px;
  /* background-color: aquamarine; */
}

@media only screen and (max-width: 900px) {
  .navbar {
    position: relative;
    width: 100vw;
    height: 60px;
  }
}
