.status {
  position: absolute;
  bottom: 10px;
  left: max(20px, calc((100vw - var(--vendor-width)) / 2));
  width: var(--vendor-width);
  word-wrap: break-word;
  color: #650601;
  font-size: smaller;
}
