body {
  margin: 0;
  font-family: 'VT323', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-y: hidden;
}

code {
  font-family: 'VT323', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
